<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Registro de Nuevo Docente</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/logo.svg" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        <script>
            function soloNumeros(e) { //ESTA ES UNA FUNCION PARA QUE SOLO PERMITA NUMEROS EN EL # DE IDENTIDAD
                key=e.keyCode || e.which ; 
                teclado=String.fromCharCode(key)  ;
                numero= "0123456789"
                especiales="8-37-48-46" ;
                tecla_especial = false ; 

                for(var i in especiales) {
                    if(key==especiales[i]) {
                        tecla_especial = true ;

                    }

                }
                if(numero.indexOf(teclado)==-1 && !tecla_especial) {
                    return false ; 
                }


            }
        </script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Registro de Nuevo Docente</a>
                <div>
                    <a class="btn btn-primary" href="../../Logins/Login_Docente/docenteLogin.html"><i class="bi bi-person-fill">Login</i></a> <!--dirige al login-->
                    <a class="btn btn-primary" href="../../PaginaPrincipal/PaginaPrincipal.html"><i class="bi bi-arrow-counterclockwise"> Regresar </i></a> <!--regresa a la pagina principal-->
                </div>
               
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-4">Ingresa tus datos para ser un Docente para Universidad Halcones!</h1> <!--Tal vez cambiar-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">

                                <div class="row"> 
                            
                                    <div class="col">
                                        <label for="nombreEstudiante">Ingrese su nombre completo</label>
                                        <input class="form-control form-control-lg" id="nombreEstudiante" placeholder="Esthefani Alvarez Ordoñez" />
                                        <div class="invalid-feedback text-white">Email Address is required.</div>
                                        <div class="invalid-feedback text-white">Email Address Email is not valid.</div>
                                        
                                    </div>
                                
                                </div>
                                
                                <div class="col">

                                    <div class="col">
                                        <label for="numeroIdentidad">Numero de Identidad</label>
                                        <input class="form-control form-control-lg" id="numeroIdentidad" placeholder="0801200105603" onkeypress="return soloNumeros(event)" />
                                        <div class="invalid-feedback text-white">Email Address is required.</div>
                                        <div class="invalid-feedback text-white">Email Address Email is not valid.</div>
                                    </div>

                                    <div class="col">
                                        <label for="numeroTelefono">Numero de Telefono</label>
                                        <input class="form-control form-control-lg" id="numeroTelefono" placeholder="99909990" onkeypress=" return soloNumeros(event)" />
                                        <div class="invalid-feedback text-white">Email Address is required.</div>
                                        <div class="invalid-feedback text-white">Email Address Email is not valid.</div>
                                        
                                    </div>


                                    <div class="row"> 
                                    
                        
                                        <div class="col">
                                            <label for="correoElectronico">Correo Electronico</label>
                                            <input class="form-control form-control-lg" id="correoElectronico" placeholder="alexgalo246@gmail.com" />
                                            <div class="invalid-feedback text-white">Email Address is required.</div>
                                            <div class="invalid-feedback text-white">Email Address Email is not valid.</div>
                                            
                                        </div>

                                  
                                            
                                        <div class="col">
                                            <label for="correoElectronico">Confirme Correo Electronico</label>
                                            <input class="form-control form-control-lg" id="correoElectronico" placeholder="alexgalo246@gmail.com" />
                                            <div class="invalid-feedback text-white">Email Address is required.</div>
                                            <div class="invalid-feedback text-white">Email Address Email is not valid.</div>
                                            
                                        </div>
                                    
                                    </div>
                                    

                                    
                                    <div class="row"> 
                                    
                        
                                        <div class="col">
                                            <label for="correoElectronico">Contraseña</label>
                                            <input class="form-control form-control-lg" id="correoElectronico" type= "password"   placeholder="Contraseña" />
                                            <div class="invalid-feedback text-white">Email Address is required.</div>
                                            <div class="invalid-feedback text-white">Email Address Email is not valid.</div>
                                            
                                        </div>
                                        
                                            
                                        <div class="col">
                                            <label for="contraseña">Confirme contraseña</label>
                                            <input class="form-control form-control-lg" id="correoElectronico" placeholder="Contraseña" type="password" />
                                            <div class="invalid-feedback text-white">Email Address is required.</div>
                                            <div class="invalid-feedback text-white">Email Address Email is not valid.</div>
                                            <br>
                                        </div>
                                    
                                    </div>


                                    <div class="row"> 
                                    
                        
                                        <div class="col">
                                            <label for="sexo">Sexo</label>
                                            <select  id="sexo" >
                                            <option value="1">Masculino</option>
                                            <option value="2">Femenino</option>
                                         
                                        </select>
    
                                            
                                        </div>
                                        
                                            
                                        <div class="col">
                                            <label for="sexo">Carrera</label>
                                            <select  id="sexo" >
                                            <option value="1">Ingenieria Mecanica</option>
                                            <option value="2">Ingenieria en Sistemas</option>
                                         
                                        </select>
    
                                            
                                        </div>
                                    
                                    </div>

                                    <br><br>
                                 
                                    <div class="row">

                                        <div class="col">
                                            
                                            <label for="nombreDepartamento">Departamento</label>
                                            <select name="Departamento" id="selectorDepartamento">
                                                <option value="1"> Francisco Morazan</option>
                                                <option value="2">Comayagua</option>
                                                <option value="3">Gracias a Dios</option>
                                                <option value="4">Lempira</option>
                                                <option value="5">Ocotepeque</option>
                                                <option value="6">Atlántida</option>
                                                <option value="7">Choluteca</option>
                                                <option value="8">Colón</option>
                                                <option value="9">Copán</option>
                                                <option value="10">Cortés</option>
                                                <option value="11">El Paraiso</option>
                                                <option value="12">Gracias a Dios</option>
                                                <option value="13">Intibucá</option>
                                                <option value="14">Islas de la Bahía</option>
                                                <option value="15">La Paz</option>
                                                <option value="16">Olancho</option>
                                                <option value="17">Santa Bárbara</option>
                                                <option value="18">Valle</option>
                                                
                                               
                                                


                                                

                                            </select>
                                        </div>
                                        
                                <div id="Boton">
                                    <br><br>
                                     <a class="btn btn-primary" href="#signup">Enviar</a> <!--No estoy seguro si deberia ir Volver-->

                                </div>


         




                              
                               

                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>


                                <!--  <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div> -->



             
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
