<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pantalla Docente</title>
        <link rel="icon" type="image/x-icon" href="assets/img/logo.svg" />
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html"><img src="assets/img/Universidad Halcones-05.png"  alt="texto"  style="max-width:30%;width:auto;height:auto;"/></a>
            
            <!-- Sidebar Toggle-->
           
           
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw fa-2x"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="../Logins/Login_Estudiante/estudianteLogin.html">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Opciones</div>
                            <a class="nav-link" href="HistorialDeAsignaturas\historialAsignaturas.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                              Historial de Asignaturas
                            </a>
        
                            <a class="nav-link" href="Listado_Estudiantes\listadoDeEstudiantes.html" >
                                <div class="sb-nav-link-icon" ><i class="fas fa-columns" ></i></div>
                                Listado de Estudiantes
                                <div class="sb-nav-link-icon"><i></i></div>
                            </a>
                           
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Universidad Halcones</div>
                       
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        
                        <h1 class="mt-4"><i class="fas fa-user fa-fw fa-2x "></i>Informacion del Docente</h1>
                        <br>
                        <div> 
                            <table class="table  table-dark" id="TablaClases2">

                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                   Informacion del Docente
                                </div>
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Numero de Docente</th>
                                        <th>DNI</th>
                                        <th>Correo Electronico</th>
                                        <th>Año</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Amy Diaz</td>
                                        <td>0506</td>
                                        <td>0801-2001-05603</td>
                                        <td>amydiaz@gmail.com</td>
                                        <td>2019</td>
                                       
                                       
                                    </tr>







                            </table>
                           
                        </div>
                       
                        
                        <!-- LOS BOTONES SOLO LO DEJE PARA VER COMO SE VEIA 
                        <div class="botones">

                            <div class="col">
                                <div class="row">
                                    <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Historial de Asignaturas</button></div>
                                    <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Listado de Asignaturas</button></div>
                                </div>
                            </div>

                         
                        </div>

                        <br>
                        -->





                        <div class="table-responsive-sm">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Asignaturas que Imparte : 
                            </div>
                            <table class="table" id="TablaClases">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Asignatura</th>
                                        <th>Sección</th>
                                        <th>Hora</th>
                                        <th>Aula</th>
                                        <th>Edificio</th>
                                        <th>Periodo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>IS-501</td>
                                        <td>Sistemas Operativos</td>
                                        <td>1300</td>
                                        <td>2 AM</td>
                                        <td>Sistemas Operativos</td>
                                        <td>E1</td>
                                        <td>I PAC</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>IS-501</td>
                                        <td>Sistemas Operativos</td>
                                        <td>1300</td>
                                        <td>2 AM</td>
                                        <td>Sistemas Operativos</td>
                                        <td>E1</td>
                                        <td>I PAC</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>IS-501</td>
                                        <td>Sistemas Operativos</td>
                                        <td>1300</td>
                                        <td>2 AM</td>
                                        <td>Sistemas Operativos</td>
                                        <td>E1</td>
                                        <td>I PAC</td>
                                    
                                    </tr>
                                    <tr>
                                        <td>IS-501</td>
                                        <td>Sistemas Operativos</td>
                                        <td>1300</td>
                                        <td>2 AM</td>
                                        <td>Sistemas Operativos</td>
                                        <td>E1</td>
                                        <td>I PAC</td>
                                       
                                    </tr>
                                   
                                </tbody>
                                
                            </table>
                          </div>
                          
                          <div class="table-responsive-md">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Laboratorios Que Imparte: 
                            </div>
                            <table class="table" id="TablaLaboratorios">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Asignatura</th>
                                        <th>Sección</th>
                                        <th>Hora</th>
                                        <th>Aula</th>
                                        <th>Edificio</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>IS-501-25</td>
                                        <td>Laboratorio de SO</td>
                                        <td>1400</td>
                                        <TD>3 PM</TD>
                                        <TD>25</TD>
                                        <TD>F1</TD>

                                       
                                    </tr>
                                    <tr>
                                        <td>IS-501-25</td>
                                        <td>Laboratorio de SO</td>
                                        <td>1400</td>
                                        <TD>3 PM</TD>
                                        <TD>25</TD>
                                        <TD>F1</TD>
                                       
                                    </tr>
                                    <tr>
                                        <td>IS-501-25</td>
                                        <td>Laboratorio de SO</td>
                                        <td>1400</td>
                                        <TD>3 PM</TD>
                                        <TD>25</TD>
                                        <TD>F1</TD>
                                    </tr>
                                    <tr>
                                        <td>IS-501-25</td>
                                        <td>Laboratorio de SO</td>
                                        <td>1400</td>
                                        <TD>3 PM</TD>
                                        <TD>110</TD>
                                        <TD>F1</TD>
                                       
                                    </tr>
                                   
                                </tbody>
                            </table>
                            <br>
                          </div>
                            </div>
                        </div>
                    </div>                   
                </main>
                
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
